
body {
    background-color: var(--blue950);

    padding: 36px 12px;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 24px;
    background-color: var(--blue900);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mainImage {
    width: 100%;

    border-radius: 8px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__top__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__top__info__text {
    color: var(--blue500)
}

.content__top__data {
    display: flex;
    justify-content: space-between;
}

.content__top__data__left,
.content__top__data__right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content__top__data__left__icon {
    width: 11px;
}

.content__top__data__left__eth {
    color: var(--cyan400);
}

.content__top__data__right__icon {
    width: 16px;
}

.content__top__data__right__days {
    color: var(--blue500);
}

.content__separator {
    border: solid var(--blue800) 0.5px;
}

.content__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content__bottom__image {
    width: 33px;
    height: 33px;

    border-radius: 100vw;
    border: solid var(--white) 2px;
}

.content__bottom__username {
    color: var(--blue500);
}

.content__bottom__username span {
    color: var(--white);
}