
body {
    background-color: var(--blue950);

    padding: 36px 12px;
    color: var(--white);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 24px;
    background-color: var(--blue900);

    border-radius: 15px;

    display: flex;
    flex-direction: column;
    gap: 24px;

    transition: filter 300ms;

    position: relative;
    opacity: 0;
}

.container:hover {
    filter: drop-shadow(0 0 1.5em #c71d5f);
}

.mainImage {
    width: 100%;

    position: relative;
}

.mainImage:hover .mainImage__eyeContainer {
    opacity: 1;
}

.mainImage:hover .mainImage__background {
    opacity: 0.5;
}

.mainImage__image {
    width: 100%;
    border-radius: 8px;
}

.mainImage__background,
.mainImage__eyeContainer {
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 8px;
    width: 100%;
    height: 99%;
    
    opacity: 0;
    transition: opacity 300ms;
}

.mainImage__background {
    background-color: var(--cyan400);
}

.mainImage__eyeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__top {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content__top__info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.content__top__info__text {
    color: var(--blue500)
}

.content__top__data {
    display: flex;
    justify-content: space-between;
}

.content__top__data__left,
.content__top__data__right {
    display: flex;
    flex-direction: row;
    gap: 8px;
}

.content__top__data__left__icon {
    width: 11px;
}

.content__top__data__left__eth {
    color: var(--cyan400);
}

.content__top__data__right__icon {
    width: 16px;
}

.content__top__data__right__days {
    color: var(--blue500);
}

.content__separator {
    border: solid var(--blue800) 0.5px;
}

.content__bottom {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content__bottom__image {
    width: 33px;
    height: 33px;

    border-radius: 100vw;
    border: solid var(--white) 2px;

    cursor: pointer;
}

.content__bottom__username {
    color: var(--blue500);
}

.content__bottom__username span {
    color: var(--white);
}

@media (min-width: 600px) {
    body {
        padding: 70px 0px;
    }

    .container {
        width: 350px;
    }
}